.Filteration {
    width: 90%;
    margin: auto;
}

.FilterationForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
}

.vertical-menu-select > .MuiPaper-root {
    display: flex;
    flex-direction: column;
}

.dropdownsFilters{
    display: flex;
    justify-content: space-between;
    /* column-gap: 10px; */
    flex-wrap: wrap;
}
.dropdownCities,
.dropdownStatus {
    width: 49%;
}

.sliderFilters {
    display: flex;
    justify-content: space-between;
    /* column-gap: 10px; */
    flex-wrap: wrap;
}

.areaSlider , .priceSlider{
    width: 48%;
    height: 53px;
}

.featuresANDsearchbtn{
    display: flex;
    flex-direction: 'row';
    justify-content: space-between;
    align-items: baseline;
    column-gap: 22px;
}

.featuresBox{
    margin-top: 10px;
    width: 80%;
    justify-content: start;
}

.slider {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #94a3b5;
}


.properitiesDisplayHalf{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 45px;
}

.HalfHomesDisplay{
    width: 90%;
    margin: auto;
}