.filterationHomeCards {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.FilteredCards {
    /* width: 90%;
    margin: auto; */
    height: 400px; /* set a fixed height for the div */
    overflow: auto; /* set overflow to auto to make it scrollable */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 35px;
}