@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.Card {
    font-family: 'Cairo';
    font-weight: 600;
    cursor: pointer;
    /* width: 47%; */
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    border-radius: 13px;
    /* background-color: rgba(250, 249, 249, 0.623); */
    background-color: white;
    /* border: 1px solid #45729d; */
    border: 1px solid lightgray;
    box-shadow: 3px 4px 8px lightgray;
    max-width: 270px;
    height: fit-content;
}

.Card:hover{
border: 1px solid #1976d2;
background-color: white;
}

.cardImg{
    border-radius: 13px 13px 0 0;
    /* height: 160px; */
    /* height: 174px; */
}

.CardTitle{
    font-weight: 700;
    font-size: 22px;
    margin-top: -6px;
    color: #323131;
}

.CardLocationDiv{
    color: gray;
    font-weight: 600;
    display: flex;
    column-gap: 7px;
    font-size: 13px;
    white-space: break-spaces;
    overflow-wrap: break-word;
    align-items: center;
}

.InfoSection{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(223, 222, 222, 0.548); 
    border-radius: 0 0 13px 13px;
    padding: 11px;
    row-gap: 15px;
}

.featuresSection {
    display: flex;
    column-gap: 20px;
    /* justify-content: space-between; */
    color: rgb(177, 176, 176);
    font-size: 12px;
}

.FeaturesDiv{
    display: flex;
    column-gap: 6px;
}

.featureIcon{
    color: #1976d2;
    background-color: #f1f4fc;
    border-radius: 100%;
    padding: 2px;
}


 